endpoints = { s3 = "http://s3.gsingh.io" }
# endpoint                    = "https://s3.gsingh.io"
bucket                      = "terraform-state"
access_key                  = "access-key"
secret_key                  = "secret-key"
region                      = "us-east-1"
skip_requesting_account_id  = true
skip_credentials_validation = true
skip_metadata_api_check     = true
use_path_style              = true
